In [1]:
import pandas as pd
from  sqlalchemy import create_engine
import os

In [2]:
# Reemplaza con tus propios datos
user = 'root'
password = 'yaris'  # La contraseña que estableciste al instalar MySQL
host = '127.0.0.1'  # O 'localhost'
database = 'olist_db' # El nombre de la base de datos que creaste

# Creamos la cadena de conexión
connection_string = f"mysql+mysqlconnector://{user}:{password}@{host}/{database}"

# Creamos el motor de conexión con SQLAlchemy
engine = create_engine(connection_string)

In [3]:
# Importamos las librerías necesarias
import pandas as pd
from sqlalchemy import create_engine
import os

# --- CONFIGURA TUS DATOS AQUÍ ---
user = 'root'
password = 'yaris'  
host = '127.0.0.1'                  
database = 'olist_db'               

# --- CREAMOS EL MOTOR DE CONEXIÓN ---
connection_string = f"mysql+mysqlconnector://{user}:{password}@{host}/{database}"
engine = create_engine(connection_string)

# Mensaje de confirmación (si no hay error, todo bien)
print("¡Motor de conexión a MySQL creado con éxito!")

¡Motor de conexión a MySQL creado con éxito!

In [ ]:
# Verificamos las tablas que se han creado en MySQL
query = "SHOW TABLES;"
tables_df = pd.read_sql(query, engine)

print("\n--- Tablas creadas en la base de datos 'olist_db' ---")
print(tables_df)

--- Tablas creadas en la base de datos 'olist_db' ---
                  Tables_in_olist_db
0                          customers
1                        geolocation
2                        order_items
3                     order_payments
4                      order_reviews
5                             orders
6  product_category_name_translation
7                           products
8                            sellers

In [7]:
# 1. Define la nueva consulta SQL para unir las tablas
query_pedidos_clientes = """
SELECT
    o.order_id,
    o.order_status,
    c.customer_id,
    c.customer_unique_id,
    c.customer_city,
    c.customer_state
FROM
    orders AS o
LEFT JOIN
    customers AS c ON o.customer_id = c.customer_id
"""

# 2. Ejecuta esa consulta específica y guárdala en un nuevo DataFrame
df_pedidos_clientes = pd.read_sql(query_pedidos_clientes, engine)

# 3. Muestra las primeras filas del resultado para verificar
print("DataFrame combinado de Pedidos y Clientes:")
df_pedidos_clientes.head()

DataFrame combinado de Pedidos y Clientes:

,order_id,order_status,customer_id,customer_unique_id,customer_city,customer_state
0,47770eb9100c2d0c44946d9cf07ec65d,delivered,41ce2a54c0b03bf3443c3d931a367089,3a653a41f6f9fc3d2a113cf8398680e8,vianopolis,GO
1,82566a660a982b15fb86e904c8d32918,delivered,d3e3b74c766bc6214e0c830b17ee2341,e97109680b052ee858d93a539597bba7,ouro preto,MG
2,dcb36b511fcac050b97cd5c05de84dc3,delivered,3b6828a50ffe546942b7a473d70ac0fc,ccafc1c3f270410521c3c6f3b249870f,goiania,GO
3,83018ec114eee8641c97e08f7b4e926f,delivered,7f8c8b9c2ae27bf3300f670c3d478be8,634f09f6075fe9032e6c19609ffe995a,feira de santana,BA
4,203096f03d82e0dffbc41ebc2e2bcfb7,delivered,d2b091571da224a1b36412c18bc3bbfe,d699688533772c15a061e8ce81cb56df,sao paulo,SP

In [8]:
print(df_pedidos_clientes.columns)

Index(['order_id', 'order_status', 'customer_id', 'customer_unique_id',
       'customer_city', 'customer_state'],
      dtype='object')